In [1]:
import pymysql
import pandas as pd
from pandas import to_datetime as dt
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:273315@localhost:3306/helloworld')

In [2]:
def read_Wind(file_path, sheet_name) -> pd.DataFrame or pd.Series:
    
    data = pd.read_excel(file_path, sheet_name=sheet_name)
    data.columns = data.iloc[2].values
    data.index = data.iloc[:, 0].values
    data = data.iloc[3:, 1:]
    try:
        data = data.astype(float)
    except:
        pass
    data.index = dt(data.index)
    if data.shape[1] == 1:
        return data.iloc[:, 0]
    else:
        return data

In [3]:
temp = pd.read_excel('raw/Book1.xlsx', sheet_name='Sheet1')

In [100]:
def read_Choice(file_path, sheet_name) -> pd.DataFrame or pd.Series:

    data = pd.read_excel(file_path, sheet_name=sheet_name)
    data.columns = data.iloc[2].values
    data.index = data.iloc[:, 0].values
    data = data.iloc[3:-2, 1:]
    try:
        data = data.astype(float)
    except:
        pass
    data.index = dt(data.index)
    if data.shape[1] == 1:
        return data.iloc[:, 0]
    else:
        return data

In [112]:
df.pct_change().dropna()

            duarable  non_duarable  service_comsumption
2013-03-27  0.013794     -0.002609             0.004983
2013-03-28 -0.010041     -0.011442            -0.030690
2013-03-29 -0.007703     -0.007545             0.001041
2013-04-01  0.029897      0.000875             0.004938
2013-04-02  0.007908     -0.026258            -0.003354
...              ...           ...                  ...
2022-07-15 -0.016159     -0.013639            -0.022087
2022-07-18  0.007677     -0.000513             0.016475
2022-07-19 -0.004637     -0.005861             0.002060
2022-07-20  0.000000      0.014078             0.004683
2022-07-21  0.000000      0.000000             0.000000

[2267 rows x 3 columns]

In [104]:
df = read_Choice('raw/Book1.xlsx', sheet_name='Sheet1')
df.columns = ['duarable', 'non_duarable', 'service_comsumption']

In [106]:
df.to_parquet('data/marco.par')

In [97]:
def read_Wind_EDB(file_path, **kwargs) -> pd.DataFrame or pd.Series:

    data = pd.read_excel(file_path, **kwargs)
    data.index = data.iloc[:, 0].values
    data = data.iloc[:-2, 1:]
    try:
        data = data.astype(float)
    except:
        pass
    data.index = dt(data.index)

    return data

In [99]:
read_Wind_EDB('raw/城镇调查失业率.xlsx').to_parquet('data/unemployment.par')

In [ ]:
close = pd.read_parquet('data/close.par')
mkt_value = pd.read_parquet('data/mkt_value.par')
pb_ratio = pd.read_parquet('data/pb_ratio.par')
found_date = pd.read_parquet('data/found_date.par')
ebitda = pd.read_parquet('data/ebitda.par')
equity = pd.read_parquet('data/equity.par')
dividend = pd.read_parquet('data/dividend.par')